@page "/galerij"

<h3>Galerij</h3>

<hr>

<div class="fotos">   
    <div class="voorbeeldBlock_foto">
        <img src="/favicon.png" alt="Alternate Text" />
    </div>

    <div class="voorbeeldBlock_foto">
        <img src="/favicon.png" alt="Alternate Text" />
    </div>

    <div class="voorbeeldBlock_foto">
        <img src="/favicon.png" alt="Alternate Text" />
    </div>

    <div class="voorbeeldBlock_foto">
        <img src="/favicon.png" alt="Alternate Text" />
    </div>
</div>

@code {
    int aantalFotos = 0;
}
