@page "/galerij"
@inject HttpClient Http

<div class="container text-center">
    <h2 class="mt-4 mb-4">Bal Foto's</h2>

    @if (photos == null)
    {
        <div class="spinner-border text-primary" role="status"></div>
    }
    else if (!photos.Any())
    {
        <p>Er zijn nog geen foto's geüpload...</p>
    }
    else
    {
        <div class="row">
            @foreach (var photo in photos)
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm">
                        @* Путь теперь ведет в approved *@
                        <img src="http://localhost:5036/approved/@photo" class="card-img-top img-thumbnail" alt="Bal foto" />
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    private List<string>? photos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Спрашиваем список имен файлов у API
            photos = await Http.GetFromJsonAsync<List<string>>("http://localhost:5036/api/Photo");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Fout bij laden галереи: " + ex.Message);
        }
    }
}