body {
}

h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

.fotos {
    width: 100%;
    display: grid; 
}

.voorbeeldBlock_foto {
    border: 1px medium;
    border-radius: 10px;
}

.voorbeeldBlock_foto img {
    width: 150px;
    height: 150px;
    border: 2px solid; 
    border-radius: 10px;
}