@page "/galerij"
@inject HttpClient Http

<h3>Galerij</h3>

@if (photos == null)
{
    <p>Laden...</p>
}
else if (!photos.Any())
{
    <p>Geen foto’s beschikbaar.</p>
}
else
{
    <div style="display:flex; flex-wrap:wrap;">
        @foreach (var photo in photos)
        {
            <img src="@photo" width="200" style="margin:5px" />
        }
    </div>
}

@code {
    List<string>? photos;

    protected override async Task OnInitializedAsync()
    {
        photos = await Http.GetFromJsonAsync<List<string>>("api/photo");
    }
}

